<h1> New Comment </h1>
<% if @comment.errors.present?%>
  <ul>
    <% @comment.errors.each do |error, message|%>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end%>

<div class="form container">
  <%= form_for [@topic, @comment] do |f| %>
    <div>
    <%= f.label :content%>
    <%= f.text_field :content%>
    </div>

    <div>
      <tr>
        <td><%= f.label :status %></td>
        <td><%= f.select :status, [['Draft'], ['Published'], ['Abandoned']] %> </td>
      </tr>
    </div>

    Posting as <%= current_user.firstname %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
    <%= link_to 'Back to index', topic_path(@topic) %>

  <% end %>
</div>