<h1> New Comment </h1>
<% if @comment.errors.present?%>
  <ul>
    <% @comment.errors.each do |error, message|%>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end%>

<div class="form container">
  <%= form_for [@topic, @comment] do |f| %>
  <table>
    <tr>
      <td>
        <%= f.label :content%>
      </td>
      <td>
        <%= f.text_area :content%>
      </td>
    </tr>

    <div>
      <tr>
        <td><%= f.label :status %></td>
        <td><%= f.select :status, [['Draft'], ['Published'], ['Abandoned']] %> </td>
      </tr>
    </div>
    <tr>
      <td class="new_comment_actions">
    Posting as <%= current_user.firstname %>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
    <%= link_to 'Back to index', topic_path(@topic) %>
      </td>
    <tr>
  </table>

  <% end %>
</div>