<% if @topic.errors.present?%>
  <ul>
    <% @topic.errors.each do |error, message|%>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end%>
<div class="form_container">
  <%= form_for @topic do |f| %>
    <table>
        <tr>
          <td><%= f.label :title%></td>
          <td><%= f.text_field :title%></td>
        </tr>
      <tr>
        <td><%= f.label :body%></td>
        <td> <%= f.cktext_area :body, cols: 100 %> 
        
      </tr>
      <tr>
        <td><%= f.label :tagstring %><p>Insert Tags seperated by<br># (eg.cats#food#toys)</p></td>
        <td><%= f.text_field :tagstring %></td>
      </tr>
      <tr>
        <td><%= f.label :status %></td>
        <td><%= f.select :status, [['Draft'], ['Published'], ['Abandoned']] %> </td>
      </tr>



    Posting as <%= current_user.firstname %>
    <%=  f.hidden_field :user_id, :value => current_user.id %>
    <tr> 
      <td colspan="2">
        <div id="topic_submit">
        <%= f.submit %></td>
        </div>
    </tr>
    </table>
    <%= link_to 'Back to index', topics_path %>

  <% end %>
</div>