
<%= form_tag(topics_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Topics" %>
  <%= submit_tag "Search" %>
<% end %>

<%= form_tag(topics_path, :method => "get", id: "sort-form") do %>
  <%= select_tag :sort, options_for_select([['Date', 'created_at ASC'], ['Title', 'title DESC']]) %>
  <%= submit_tag "Sort" %>
<% end %>


<% if @topics.present? %>
  <%= render @topics %>
  <%= paginate @topics %>
  <%= page_entries_info @topics %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>



<h3> Search result next page</h3>


<p>Footer below</p>


