<% if @topic.errors.present?%>
  <ul>
    <% @topic.errors.each do |error, message|%>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end%>
<div class="form container">
  <%= form_for @topic do |f| %>
    <div>
    <%= f.label :title%>
    <%= f.text_field :title%>
    </div>

    <div>
    <%= f.label :body%>
    <%= f.text_field :body%>
    </div>

    <div>
    <%= f.label :tagstring %> Insert Tags seperated by # (eg.cats#food#toys)
    <%= f.text_field :tagstring %>
    </div>
    

    Posting as <%= current_user.firstname %>

    <%=  f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit %>
    <%= link_to 'Back to index', topics_path %>

  <% end %>
</div>