<h1>Topic: <%= @topic.title %></h1>

<h3>Description: <%= @topic.body.html_safe %> </h3>

<hr>

<% comments_arr = @topic.comments %>
<h2>Comments(<%= comments_arr.count %>)</h2>
    <% comments_arr.each do |comment|%>
        <div>
            <%= "#{comment.content}, by #{comment.user.firstname} #{comment.user.lastname}, updated on: #{comment.updated_at}" %>
            <%= link_to "Edit", edit_topic_comment_path([@topic, @comment]) %>
            <%= link_to "Delete", topic_comment_path(comment), method: :delete, data:{ confirm: "Are you sure?" } %>
        </div>
    <% end %>

<br>
    <div><button><%= link_to "New comment", new_topic_comment_path(@topic)%> </button></div>
<br>

<%= link_to "Back", topics_path %>
<hr>