<% comments_arr = @topic.comments %>

<div class="content">
<div class="show_topic_title">
    <h1><%= @topic.title %></h1>
</div>

<div class="show_topic_content">
   <%= @topic.body.html_safe %>
</div>
<hr>

<% commentlink = "<h2>Comments(#{comments_arr.where(status: 2).count})"%>
<%= link_to commentlink.html_safe,topic_path(topic_id: @topic.id, draftpage: 0 )%>

<% if user_signed_in? %>
  <% draftlink = " | Drafts (#{comments_arr.where(status: 1, user_id: current_user.id).count})</h2>"%>
  <%= link_to draftlink.html_safe, topic_path(topic_id: @topic.id, draftpage: 1) %>
<% else %>
  </h2>
<% end %>


<%= render 'showcomments', :comments_arr => comments_arr, :topic=> @topic%>